.wrapper
  - const upDog = dog.toUpperCase();
  p.hello Hello my dog's name is #{upDog}
  span#yo Yo!!!
  img.dog(src="dog.jpg" alt=`Picture of my dog ${dog}`)

h2
  | Hello
  em How are you?

h2 extend layouts
